# Any keys that aren't recognized redirect to this URL.
DEFAULT_REDIRECT = 'https://google.com'

# Return 404 Not Found instead of trying to resolve a shortlink for
# favicon.ico and robots.txt
IGNORE_FAVICON = True
IGNORE_ROBOTS = True

# Import name for PEP 249 DBAPI module
DBAPI = 'MySQLdb'

# Keyword arguments to be passed to the database connect function can be
# specified with config keys by uppercasing the name and prefixing it with
# `DB_`. For instance, you could change the mysql unix socket path like this:
# DB_UNIX_SOCKET = '/tmp/mysql.sock'

# Enable the admin interface
ENABLE_ADMIN = False

# Steam web API key - https://steamcommunity.com/dev/apikey
# Only required if the admin interface is enabled.
# STEAM_API_KEY = 'DEADBEEFDEADBEEFDEADBEEFDEADBEEF'

# This key is used for cryptographic purposes. Only required if the admin
# interface is enabled. A good way to generate a key is:
# python3 -c "import secrets; print(repr(secrets.token_urlsafe(32)))"
# SECRET_KEY = 'pineapple'
