{% from '_macros.html' import render_flashed_messages, script, style %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  <link
    type="text/css"
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
    crossorigin="anonymous">
    {{ style('base') }}
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block main %}
      <div class="row">
        <nav>
          <a href="{{ url_for('.links') }}">Links</a>
          <a href="{{ url_for('.users') }}">Users</a>
        </nav>
      </div>
      {{ render_flashed_messages() }}
    {% endblock %}
  </div>
  {% block scripts %}
    {{ script('message') }}
  {% endblock %}
</body>
</html>
